<%- include("header") -%>
<p>
    Lorem Ipsum is simply dummy text of <br>
    the printing and typesetting industry. <br>
    Lorem Ipsum has been the industry's standard <br>
    dummy text ever since the 1500s, when an unknown <br>
    printer took a galley of type and scrambled it to <br>
    make a type specimen book. It has survived not only <br>
    five centuries, but also the leap into electronic.
</p>
<%- include("footer") -%>