<%- include("header") -%>
<div class="row py-2 px-5">
        <div class=" col ">
            <div class="box my-5 py-5 h-75 px-1 text-center">
                <div class="mx-auto my-3 h-25 w-25  rounded-circle border border-3 border-dark">
                    <h1>
                        <i class="fa-solid fa-right-to-bracket fa-beat" style="color: #04c33d;"></i>
                    </h1>
                </div >
                <h1 class="fw-bolder">Welcome,</h1>
                <p class="fw-bold">To keep Track of your day to day tasks,
                     Please Login:</p>
                     <p class="fw-bold"> Or</p>
                <a href="/signup" class="btn btn-primary">SignUp</a>
            </div>
        </div>
        <div class="col">
            <div class="box my-5 py-5 px-5 h-75 ">
            <h1 class="fw-bolder">Login,</h1>
            <form action="/login" method="POST">
                <div class="mb-4">
                    <label for="exampleInputEmail1" class="form-label">User Name</label>
                    <input type="text" name="username">
                </div>
                <div class="mb-4">
                    <label for="exampleInputPassword1" class="form-label">Password</label>
                    <input type="text" name="password">
                </div>
                <button type="submit" class="btn btn-primary">Login</button>
            </form>
            </div>
        </div>
</div>
<%- include("footer") -%>